body{
	background-color: lightgrey;
	font-size: 24px;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

iframe{
	display: block;
	margin: auto;
}

header img{
	width: 100%;
}

section img{
	width: 20%;
	min-width: 250px;
	float: left;
	margin-right: 1em;
	border: 1px solid;
}

.floatright{
	float: right;
	margin-right: 0;
	margin-left: 1em;
}

section{
	max-width: 800px;
	margin: auto;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
	max-width: 800px;
	margin: auto;
}

nav a{
	color: black;
	text-decoration: none;
}

h1{
	font-size: 50px;
	text-align: center;
}

@media (width < 600px){

	nav ul{
		flex-direction: column;
		text-align: center;
		padding: 0.5em;
	}

	nav a{
		display: block;
		border-bottom: solid 1px black;
		padding: 1em;
	}

	section{
		padding: 0.5em;
	}


	section img, .floatright{
		float: none;
		width: 80%;
		margin: auto;
		display: block;
	}

}